<table class="table">
    <thead>
        <tr>
            <th>Ethnicity</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach : ethnicitiesSort">
        <tr>
            <td data-bind="text : Name"></td>
            <td><a href="#" data-bind="click : $parent.deltet">delete</a></td>
        </tr>
    </tbody>
</table>
<div class="input-append">
              <input class="span2" data-bind="value : nameToAdd" size="16" type="text">
              <button class="btn" data-bind="click: add" type="button">Add</button>
            </div>