<h1 data-bind="text : Name"></h1>
<textarea rows="10" cols="50" data-bind="value : Content"></textarea>

<ul data-bind="foreach : Tokens">
    <li data-bind="text : $data"></li>
</ul>

<a href="#" data-bind="click : cansel">Cansel</a>
<a href="#" data-bind="click : save">Save</a>
